#contacts {
  padding-top: 130px;
  padding-bottom: 200px;
  .contacts {
    display: flex;
    justify-content: space-around;
    align-items: center;



    &--visit {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      &__joinUs {
        display: flex;
        align-items: center;
        svg {
          margin-right: 30px;
        }
      }

      h5 {
        font-family: 'Shalimar', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 49px;
        color: #FFFFFF;
      }

      h2 {
        font-family: 'Silk Serif', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 61px;
        color: #FFFFFF;
      }

      h3 {
        font-family: 'Spartan', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 24px;
        color: #EF272C;
      }

      h4 {
        font-family: 'Spartan', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
      }

      button {
        width: 210px;
        height: 40px;
        border: 2px solid #EF272C;
        background: transparent;
        font-family: 'Spartan', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 13px;
        text-transform: uppercase;
        color: #FFFFFF;
      }

      &__address {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100px;
        margin: 30px 0;
      }

      &__timeline {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 130px;
      }

      &__btn{
        margin-top: 35px;
        transition: .4s;
        button{
          margin: 6px;
          cursor: pointer;
        }
        &--rightLine{
          width: 100px;
          border: solid 1px #EF272C;
          margin-left: 113px;
          transition: .4s;
        }

        &--leftLine{
          width: 100px;
          border: solid 1px #EF272C;
          margin-left: 5px;
          transition: .4s;

        }

        &:hover{
          transform: scale(1.1);

          .contacts--visit__btn--rightLine{
            width: 140px;
            margin-left: 40px;
          }
          .contacts--visit__btn--leftLine{
            width: 140px;
            margin-left: 40px;
          }
        }

      }

    }

    &--cardLocation {

      &__background{
        width: 490px;
        height: 420px;
        background: #a2161a;
        padding: 37px;
        margin-top: 20px;

        &--contactInfo{
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 180px;

          &__social{
            margin-bottom: 30px;
          }

          div{
            display: flex;
            align-items: center;
          }


          h2{
            font-family: 'Gilroy', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 29px;
            color: #1F2731;
          }

          h3{
            font-family: 'Montserrat',sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 22px;
            line-height: 27px;
            color: #1F2731;
          }

          #call{
            font-size: 27px;
            margin-right: 10px;
          }

          #email{
            font-size: 25px;
            margin-right: 10px;
          }

          #telegram{
            font-size: 25px;
            margin-right: 15px;
            cursor: pointer;
          }

          #instagram{
            font-size: 25px;
            cursor: pointer;
          }

        }

        &--location{
          margin-top: 45px;
          margin-left: 48px;
          width: 200px;
          height: 200px;
          iframe{
            width: 400px;
            height: 200px;
          }
        }
      }
    }
  }
}



@media (max-width: 1440px) {
  #contacts{
    .contacts{
      &--visit{
        &__joinUs{

        }
        &__address{

        }
        &__timeline{

        }
        &__btn{

        }
      }
      &--cardLocation{

      }
    }
  }
}
@media (max-width: 1200px) {
  #contacts{
    .contacts{
      &--visit{
        &__joinUs{

        }
        &__address{

        }
        &__timeline{

        }
        &__btn{

        }
      }
      &--cardLocation{

      }
    }
  }
}
@media (max-width: 1024px) {
  #contacts{
    .contacts{
      &--visit{
        &__joinUs{

        }
        &__address{

        }
        &__timeline{

        }
        &__btn{

        }
      }
      &--cardLocation{

        &__background{
          width: 400px;
          &--location{
            iframe{
              width: 300px;
              height: 180px;
            }
          }

        }
      }
    }
  }
}
@media (max-width: 992px) {
  #contacts{
    .contacts{
      &--visit{
        &__joinUs{

        }
        &__address{

        }
        &__timeline{

        }
        &__btn{

        }
      }
      &--cardLocation{
        height: 290px;
        padding: 28px;
        margin-bottom: 80px;
        &__background{
          &--location{
            iframe{

            }
          }

        }
      }
    }
  }
}
@media (max-width: 768px) {
  #contacts{
    padding-bottom: 100px;
    .contacts{

      &--visit{
        &__joinUs{

        }
        &__address{

        }
        &__timeline{

        }
        &__btn{

        }
      }
      &--cardLocation{

        &__background{
          padding: 0;
          width: 303px;


          &--location{
            margin: 0;

            iframe{
              height: 420px;
            }
          }
          &--contactInfo{
            display: none;

          }

        }
      }
    }
  }
}
@media (max-width: 576px) {
  #contacts{
    padding:0;
    margin-top: 120px;
    .contacts{
      flex-direction: column;
      &--visit{
        &__joinUs{

        }
        &__address{

        }
        &__timeline{

        }
        &__btn{

        }
      }
      &--cardLocation{
        height: 360px;
        &__background{
          width: 424px;
          &--location{
            iframe{
              width: 420px;
            }
          }

        }
      }
    }
  }
}
@media (max-width: 450px) {
  #contacts{
    .contacts{

      &--visit{
        margin-bottom: 50px;
        h4{
          line-height: 35px;
        }

        &__joinUs{

        }
        &__address{
          h3{
            margin-bottom: 20px;
          }
        }
        &__timeline{

          br{
            display: none;
          }
        }
        &__btn{

        }
      }
      &--cardLocation{
        width: 396px;
        height: 370px;
        &__background{
          width: 100px;
          height: 100px;
          &--location{

          }

        }
      }
    }
  }
  #contacts .contacts--cardLocation__background--location iframe {
    width: 360px;

  }
}
@media (max-width: 375px) {
  #contacts{
    padding-bottom: 0;
    .contacts{
      &--visit{
        &__joinUs{

        }
        &__address{

        }
        &__timeline{
        }
        &__btn{
          &--rightLine{
            margin-left: 89px;
          }
          button{
            font-size: 10px;
            width: 185px;

          }
        }
      }
      &--cardLocation{
        padding: 0;
        width: 302px;
        &__background{
          &--location{
            iframe{
            }
          }

        }
      }
    }
  }
  #contacts .contacts--cardLocation__background--location iframe {
    width: 300px;
    height: 300px;
  }
}
@media (max-width: 350px) {
  #contacts{
    .contacts{
      &--visit{
        h4{
          line-height: 24px;
          font-size: 19px;
        }
        h2{
          font-size: 33px;
          font-weight: 400;
          line-height: 36px;
        }
        &__joinUs{

        }

        &__address{

        }
        &__timeline{

        }
        &__btn{

        }
      }
      &--cardLocation{
        &__background{
          &--location{
            iframe{
              width: 292px;
              height: 336px;
            }
          }

        }
      }
    }
  }
}


