#contacts {
  padding-top: 130px;
  padding-bottom: 200px;
  .contacts {
    display: flex;
    justify-content: space-around;

    align-items: center;



    &--visit {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 530px;

      &__joinUs {
        display: flex;
        align-items: center;

        svg {
          margin-right: 30px;
        }
      }

      h5 {
        font-family: 'Shalimar', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 49px;
        color: #FFFFFF;
      }

      h2 {
        font-family: 'Silk Serif', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 61px;
        color: #FFFFFF;
      }

      h3 {
        font-family: 'Spartan', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 24px;
        color: #EF272C;
      }

      h4 {
        font-family: 'Spartan', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
      }

      button {
        width: 210px;
        height: 40px;
        border: 2px solid #EF272C;
        background: transparent;
        font-family: 'Spartan', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 13px;
        text-transform: uppercase;
        color: #FFFFFF;
      }

      &__address {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100px;
        margin: 30px 0;
      }

      &__timeline {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 130px;
      }

      &__btn{
        margin-top: 35px;
        transition: .4s;
        button{
          margin: 6px;
          cursor: pointer;
        }
        &--rightLine{
          width: 100px;
          border: solid 1px #EF272C;
          margin-left: 113px;
          transition: .4s;
        }

        &--leftLine{
          width: 100px;
          border: solid 1px #EF272C;
          margin-left: 5px;
          transition: .4s;

        }

        &:hover{
          transform: scale(1.1);

          .contacts--visit__btn--rightLine{
            width: 140px;
            margin-left: 40px;
          }
          .contacts--visit__btn--leftLine{
            width: 140px;
            margin-left: 40px;
          }
        }

      }

    }

    &--cardLocation {

      &__background{
        width: 490px;
        height: 420px;
        background: #a2161a;
        padding: 37px;
        margin-top: 20px;

        &--contactInfo{
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 180px;

          &__social{
            margin-bottom: 30px;
          }

          div{
            display: flex;
            align-items: center;
          }


          h2{
            font-family: 'Gilroy', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 29px;
            color: #1F2731;
          }

          h3{
            font-family: 'Montserrat',sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 22px;
            line-height: 27px;
            color: #1F2731;
          }

          #call{
            font-size: 27px;
            margin-right: 10px;
          }

          #email{
            font-size: 25px;
            margin-right: 10px;
          }

          #telegram{
            font-size: 25px;
            margin-right: 15px;
            cursor: pointer;
          }

          #instagram{
            font-size: 25px;
            cursor: pointer;
          }

        }

        &--location{
          margin-top: 45px;
          margin-left: 48px;
          width: 200px;
          height: 200px;
          iframe{
            width: 400px;
            height: 200px;
          }
        }
      }
    }
  }
}

@media (max-width: 1440px) {

}
@media (max-width: 1200px) {

}
@media (max-width: 1024px) {
  #contacts .contacts {
    display: flex;
    justify-content: space-around;
    width: 99%;
  }
  #contacts .contacts--cardLocation__background {
    width: 450px;
    height: 420px;
    background: #a2161a;
    padding: 30px;
    margin-top: 10px;
    margin-left: 20%;
    &--location{
      margin-top: 25px;
      margin-left: 28px;
    }
  }
}
@media (max-width: 992px) {

}
@media (max-width: 768px) {
  #contacts .contacts--cardLocation__background {
    width: 380px;
    margin-left: 0;
    iframe{
      width: 300px;
      height: 150px;
    }
  }
  #contacts .contacts {
    display: flex;
    justify-content: space-evenly;
    width: 950px;
  }
}
@media (max-width: 578px) {

}
@media (max-width: 450px) {
  #contacts .contacts--cardLocation__background {
  width: 0;
  height: 0;
  background: transparent;
}
}
@media (max-width: 400px) {

}
@media (max-width: 375px) {

}
@media (max-width: 320px) {
  #contacts .contacts--cardLocation__background {
   background: transparent;
    width: 0;
    height: 0;
  }
  .contacts{
    flex-direction: column;

  }
}