
#hero {
  background: url("../../../assets/img/allPhoto.jpg") no-repeat center/cover;
  width: 100%;

  .bg-blur {
    width: 100%;
    background: rgba(0, 0, 0, 0.26);
    backdrop-filter: blur(5px);
  }

  .bg {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    z-index: 66;
    background: rgba(0, 0, 0, 0.58);
  }

  .hero {
    position: relative;
    padding-top: 100px;
    padding-bottom: 5px;

    hr {
      width: 25%;
      position: absolute;
      right: 10px;
    }

    &--height {
      position: absolute;
      height: 50%;
      border: 1px solid gray;
      bottom: 40px;
      left: -20px;
    }

    &--text {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-top: 80px;


      &__nav {
        display: flex;
        align-items: center;
        justify-content: center;

        h4 {
          font-family: 'Shalimar', sans-serif;
          font-weight: 400;
          font-size: 40px;
          color: #FFFFFF;
          margin: 0 20px;
        }
      }


      h1 {
        font-family: 'Silk Serif', cursive;
        font-weight: 600;
        font-size: 64px;
        color: #FFFFFF;
      }

      p {
        font-family: 'Spartan', sans-serif;
        margin: 20px 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        text-align: center;
        color: #FFFFFF;
        width: 506px;
      }

      &__block {
        transition: .4s;

        &:hover {
          transform: scale(1.1);

          .hero--text__block--lin {
            width: 160px;
            margin-left: 30px;
          }

          .hero--text__block--border {
            width: 160px;
            margin-left: 30px;
          }
        }

        &--width {
          cursor: pointer;
          width: 210px;
          height: 42px;
          left: 608px;
          top: 433px;
          display: flex;
          margin: 10px 0;
          align-items: center;
          justify-content: center;
          background: transparent;
          border: 1.6px solid #EF272C;
          animation: 3s;

          &__icon {
            color: white;
            margin-right: 20px;
            font-size: 40px;
          }

          p {
            font-family: 'Spartan', sans-serif;
            font-weight: 600;
            font-size: 12px;
            text-transform: uppercase;
            color: #FFFFFF;
          }
        }

        &--lin {
          width: 80px;
          border: 1px solid red;
          margin-left: 130px;
          transition: .4s;

        }

        &--border {
          width: 80px;
          border: 1px solid red;
        }
      }

    }

    &--title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 130px;

      &__line {
        display: flex;
        align-items: center;

        h5 {
          font-family: 'Spartan', sans-serif;
          font-weight: 600;
          font-size: 14px;
          text-transform: capitalize;
          color: #FFFFFF;
        }

        p {
          font-family: 'Spartan',sans-serif;
          font-weight: 500;
          font-size: 12px;
          line-height: 13px;
          text-transform: capitalize;
          color: #FFFFFF;
          opacity: 0.8;
        }

        span {
          width: 56px;
          border: 1px solid white;
          margin: 0 10px;
        }

        &--good {
          color: red;
          margin: 0 10px;
        }
      }

      &__new {
        display: flex;
        align-items: center;

        h5{
          font-family: 'Spartan',sans-serif;
          font-weight: 600;
          font-size: 14px;
          text-transform: capitalize;
          color: #FFFFFF;
        }
        p {
          font-family: 'Spartan',sans-serif;
          font-weight: 600;
          font-size: 12px;
          text-transform: uppercase;
          color: #FFFFFF;
          opacity: 0.8;
        }

        span {
          width: 56px;
          border: 1px solid white;
          margin: 0 10px;
        }

        &--gou {
          color: red;
          margin: 0 10px;
        }
      }
    }

    &--font {
      width: 100%;
      margin: 20px 0;
      border: 1px solid gray;
    }

    &--name {
      display: none;
      position: absolute;
      width: 335px;
      height: 339px;
      right: 30px;
      bottom: 150px;
      z-index: 999;
      background: #1F2731;
      box-shadow: -1px 0px 23px 1px rgba(207, 207, 207, 0.2);
      border-radius: 8px;
      animation: .7s out ease-in;

      button {
        width: 290px;
        height: 59px;
        background: #EF272C;
        font-weight: 500;
        font-size: 17px;
        color: #FFFFFF;
        border: none;
        border-radius: 4px;
        margin: 40px 25px;
      }

      &__enter {
        display: flex;
        align-items: center;
        margin: 40px 45px;

        &--class {
          margin: 0 15px;

          h6 {
            font-weight: 400;
            font-size: 12px;
            color: #FFFFFF;
            font-family: 'Spartan', sans-serif;
          }

          h4 {
            font-weight: 400;
            font-size: 17px;
            color: #BBBBBB;
            font-family: 'Spartan', sans-serif;
          }
        }
      }

      &__phone {
        display: flex;
        align-items: center;
        //justify-content: center;
        margin: 0 45px;

        &--ash {
          margin: 0 15px;

          h6 {
            font-weight: 400;
            font-size: 12px;
            color: #FFFFFF;
            font-family: 'Spartan', sans-serif;
          }

          h4 {
            font-weight: 400;
            font-size: 17px;
            color: #BBBBBB;
            font-family: 'Spartan', sans-serif;
          }
        }
      }
    }

    @keyframes out {
      0% {
        transform: translateX(350px);
      }
    }
  }
}




@media (max-width: 1440px) {

  #hero {
    //display: none;
    .container{
      .bg-blur {

      }

      .bg {

      }

      .hero {


        hr {

        }

        &--height {

        }

        &--text {


          &__nav {


            h4 {

            }
          }


          h1 {

          }

          p {

          }

          &__block {

            &:hover {


              .hero--text__block--lin {

              }

              .hero--text__block--border {

              }
            }

            &--width {


              &__icon {

              }

              p {

              }
            }

            &--lin {


            }

            &--border {

            }
          }

        }

        &--title {


          &__line {


            h5 {

            }

            p {

            }

            span {

            }

            &--good {

            }
          }

          &__new {


            h5{

            }
            p {

            }

            span {

            }

            &--gou {

            }
          }
        }

        &--font {

        }

        &--name {


          button {

          }

          &__enter {

            img{

            }

            &--class {


              h6 {

              }

              h4 {

              }
            }
          }

          &__phone {
            img{

            }

            &--ash {


              h6 {

              }

              h4 {

              }
            }
          }
        }

      }
    }
  }
}
@media (max-width: 1200px) {
  #hero {
    .container{
      .bg-blur {

      }

      .bg {

      }

      .hero {


        hr {

        }

        &--height {

        }

        &--text {


          &__nav {


            h4 {

            }
          }


          h1 {

          }

          p {

          }

          &__block {

            &:hover {


              .hero--text__block--lin {

              }

              .hero--text__block--border {

              }
            }

            &--width {


              &__icon {

              }

              p {

              }
            }

            &--lin {


            }

            &--border {

            }
          }

        }

        &--title {


          &__line {


            h5 {

            }

            p {

            }

            span {

            }

            &--good {

            }
          }

          &__new {


            h5{

            }
            p {

            }

            span {

            }

            &--gou {

            }
          }
        }

        &--font {

        }

        &--name {
          left: 72%;


          button {

          }

          &__enter {

            img{

            }

            &--class {


              h6 {

              }

              h4 {

              }
            }
          }

          &__phone {
            img{

            }

            &--ash {


              h6 {

              }

              h4 {

              }
            }
          }
        }

      }
    }
  }
}
@media (max-width: 1024px) {
  #hero {
    .container{
      .bg-blur {

      }

      .bg {

      }

      .hero {
        hr {

        }
        &--height {

        }
        &--text {


          &__nav {


            h4 {

            }
          }


          h1 {

          }

          p {

          }

          &__block {

            &:hover {


              .hero--text__block--lin {

              }

              .hero--text__block--border {

              }
            }

            &--width {


              &__icon {

              }

              p {

              }
            }

            &--lin {


            }

            &--border {

            }
          }

        }
        &--title {


          &__line {


            h5 {

            }

            p {

            }

            span {

            }

            &--good {

            }
          }

          &__new {


            h5{

            }
            p {

            }

            span {

            }

            &--gou {

            }
          }
        }
        &--font {

        }
        &--name {
          width: 269px;
          height: 275px;
          bottom: 205px;
          left: 75%;

          button {
            width: 221px;
            height: 52px;
            margin: 30px 25px;
          }

          &__enter {
            margin: 33px 45px;
            img{
              width: 45px;
            }

            &--class {


              h6 {

              }

              h4 {
                font-size: 12px;
              }
            }
          }

          &__phone {
            img{
              width: 45px;
            }

            &--ash {


              h6 {

              }

              h4 {
                font-size: 12px;
              }
            }
          }
        }

      }
    }
  }
}
@media (max-width: 992px) {
  #hero {
    .container{
      .bg-blur {

      }

      .bg {

      }

      .hero {


        hr {

        }

        &--height {

        }

        &--text {
          &__nav {
            h4 {

            }
          }
          h1 {
            font-size: 57px;
          }
          p {
            width: 405px;
          }

          &__block {

            &:hover {


              .hero--text__block--lin {

              }

              .hero--text__block--border {

              }
            }

            &--width {


              &__icon {

              }

              p {

              }
            }

            &--lin {


            }

            &--border {

            }
          }

        }
        &--title {


          &__line {


            h5 {

            }

            p {

            }

            span {

            }

            &--good {

            }
          }

          &__new {


            h5{

            }
            p {

            }

            span {

            }

            &--gou {

            }
          }
        }
        &--font {

        }
        &--name {
          left: 73%;

          button {

          }

          &__enter {

            img{

            }

            &--class {


              h6 {

              }

              h4 {

              }
            }
          }

          &__phone {
            img{

            }

            &--ash {


              h6 {

              }

              h4 {

              }
            }
          }
        }

      }
    }
  }
}
@media (max-width: 768px) {
  #hero {
    .container{
      .bg-blur {

      }
      .bg {

      }
      .hero {
        hr {

        }
        &--height {

        }
        &--text {
          &__nav {
                h4 {
                  font-size: 35px;
                }
          }
          h1 {
            font-size: 52px;
            font-weight: 400;
          }
          p {
            font-weight: 200;
            margin: 14px 0;
            width: 287px;
          }
          &__block {

            &:hover {


              .hero--text__block--lin {

              }

              .hero--text__block--border {

              }
            }

            &--width {
              width: 195px;
              &__icon {
                font-size: 30px;
              }
              p {
                font-size: 11px;
              }
            }

            &--lin {
              margin-left: 113px;

            }

            &--border {

            }
          }
        }
        &--title {
          &__line {
            h5 {
              font-weight: 200;
              font-size: 11px;
            }

            p {
              font-size: 11px;
            }

            span {

            }

            &--good {

            }
          }

          &__new {


            h5{
              font-weight: 100;
              font-size: 12px;
            }
            p {
              font-weight: 200;
              font-size: 11px;
            }

            span {

            }

            &--gou {

            }
          }
        }
        &--font {

        }
        &--name {
          left: 30%;
          bottom: 165px;
          height: 260px;
          animation: .7s out ease-in;
          button {
            margin: 24px 25px;
          }

          &__enter {

            img{

            }

            &--class {


              h6 {

              }

              h4 {

              }
            }
          }

          &__phone {
            img{

            }

            &--ash {


              h6 {

              }

              h4 {

              }
            }
          }
        }
        @keyframes out {
          0% {
            transform: translateX(-380px);
          }
        }
      }
    }
  }
}
@media (max-width: 576px) {
  #hero {
    .container{
      .bg-blur {

      }
      .bg {

      }
      .hero {
        hr {

        }
        &--height {

        }
        &--text {


          &__nav {


            h4 {
              font-size: 30px;
            }
          }


          h1 {
            font-size: 47px;
          }

          p {
            margin: 7px 0;
            width: 249px;
          }

          &__block {
            margin: 10px 0;
            &:hover {


              .hero--text__block--lin {

              }

              .hero--text__block--border {

              }
            }

            &--width {


              &__icon {

              }

              p {

              }
            }

            &--lin {


            }

            &--border {

            }
          }

        }
        &--title {
          &__line {
            display: flex;
            align-items: center;
            flex-direction: column;
            h5 {

            }

            p {

            }

            span {
              margin: 6px 10px;
            }

            &--good {
              display: none;
            }
          }
          &__new {
            display: flex;
            align-items: center;
            flex-direction: column;
            h5{

            }
            p {

            }

            span {
              margin: 6px 10px;
            }

            &--gou {
              display: none;
            }
          }
        }
        &--font {

        }
        &--name {
          bottom: 187px;
          left: 25%;
          button {

          }

          &__enter {

            img{

            }

            &--class {


              h6 {

              }

              h4 {

              }
            }
          }

          &__phone {
            img{

            }

            &--ash {


              h6 {

              }

              h4 {

              }
            }
          }
        }

      }
    }
  }
}
@media (max-width: 450px) {
  #hero {
    .container{
      .bg-blur {

      }

      .bg {

      }

      .hero {
        hr {

        }
        &--height {
          left: -10px;
        }
        &--text {
          &__nav {


            h4 {

            }
          }
          h1 {
            font-size: 39px;
          }
          p {
            font-size: 14px;
          }
          &__block {
            &:hover {


              .hero--text__block--lin {

              }

              .hero--text__block--border {

              }
            }
            &--width {
              width: 190px;
              &__icon {
                font-size: 24px;
              }
              p {
                font-size: 11px;
              }
            }
            &--lin {
              margin-left: 106px;
            }

            &--border {

            }
          }

        }

        &--title {


          &__line {


            h5 {

            }

            p {

            }

            span {

            }

            &--good {

            }
          }

          &__new {


            h5{

            }
            p {

            }

            span {

            }

            &--gou {

            }
          }
        }
        &--font {

        }
        &--name {
          height: 252px;
          left: 18%;
          button {

          }
          &__enter {
            margin: 25px 45px;
            img{

            }

            &--class {


              h6 {

              }

              h4 {

              }
            }
          }

          &__phone {
            img{

            }

            &--ash {


              h6 {

              }

              h4 {

              }
            }
          }
        }

      }
    }
  }
}
@media (max-width: 376px) {
  #hero {
    .container{
      .bg-blur {

      }

      .bg {

      }

      .hero {
        hr {

        }
        &--height {
          bottom: 80px;
        }
        &--text {


          &__nav {


            h4 {

            }
          }


          h1 {
            font-size: 36px;
          }

          p {

          }

          &__block {

            &:hover {


              .hero--text__block--lin {

              }

              .hero--text__block--border {

              }
            }

            &--width {


              &__icon {

              }

              p {

              }
            }

            &--lin {


            }

            &--border {

            }
          }

        }
        &--title {


          &__line {
            margin-right: 188px;

            h5 {

            }

            p {
              width: 148%;
              text-align: center;
            }

            span {

            }

            &--good {

            }
          }

          &__new {


            h5{

            }
            p {

            }

            span {

            }

            &--gou {

            }
          }
        }
        &--font {
          display: none;
        }

        &--name {
          bottom: 172px;
          height: 232px;
          width: 252px;
          left: 13%;
          button {
            width: 200px;
            height: 48px;
            font-size: 17px;
            margin: 25px 20px;
          }

          &__enter {
            margin: 20px 17px;
            img{

            }

            &--class {


              h6 {

              }

              h4 {

              }
            }
          }

          &__phone {
            margin: 0px 17px;
            img{

            }

            &--ash {


              h6 {

              }

              h4 {

              }
            }
          }
        }

      }
    }
  }
}
@media (max-width: 320px) {
  #hero {
    .container{
      .bg-blur {

      }

      .bg {

      }

      .hero {


        hr {

        }

        &--height {
          left: 1px;
        }

        &--text {


          &__nav {


            h4 {

            }
          }


          h1 {

          }

          p {

          }

          &__block {
            margin: 26px 0;
            &:hover {


              .hero--text__block--lin {

              }

              .hero--text__block--border {

              }
            }

            &--width {


              &__icon {

              }

              p {

              }
            }

            &--lin {


            }

            &--border {

            }
          }

        }

        &--title {


          &__line {
            margin-right: 136px;
            h5 {

            }

            p {

            }

            span {

            }

            &--good {

            }
          }

          &__new {


            h5{

            }
            p {

            }

            span {

            }

            &--gou {

            }
          }
        }

        &--font {

        }

        &--name {
          bottom: 204px;
          left: 7%;
          button {

          }

          &__enter {

            img{

            }

            &--class {


              h6 {

              }

              h4 {

              }
            }
          }

          &__phone {
            img{

            }

            &--ash {


              h6 {

              }

              h4 {

              }
            }
          }
        }

      }
    }
  }
}