#about {
  .about {
    padding-top: 100px;

    &--block {
      display: flex;
      align-items: center;
      justify-content: space-around;

      &__nav {
        h2 {
          font-family: 'Silk Serif', cursive;
          font-style: normal;
          font-weight: 600;
          font-size: 40px;
          line-height: 61px;
          color: #FFFFFF;
        }

        &--text {
          margin: 15px 0;
          display: flex;
          align-items: center;

          h4 {
            margin-left: 40px;
            font-family: 'Shalimar', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 40px;
            color: #FFFFFF;
          }
        }
      }

      &__try {
        p {
          padding-top: 40px;
          font-family: 'Spartan', sans-serif;
          font-weight: 300;
          font-size: 16px;
          line-height: 24px;
          width: 539px;
          color: #FFFFFF;
        }
      }
    }

    &--img {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      //margin-top: 50px;
      margin: 50px 25px;

      &__photo {
        img {
          margin-right: 30px;
        }
      }
    }
  }
}


@media (max-width: 1440px) {
  #about {
    .about {

      &--block {

        &__nav {
          h2 {

          }

          &--text {

            h4 {

            }
          }
        }

        &__try {
          p {

          }
        }
      }

      &--img {

        &__image {
          img {

          }
        }

        &__photo {
          img {


          }
        }
      }
    }
  }
}
@media (max-width: 1200px) {
  #about {
    .about {

      &--block {

        &__nav {
          h2 {

          }

          &--text {

            h4 {

            }
          }
        }

        &__try {
          p {

          }
        }
      }

      &--img {
        margin-right: 109px;
        &__image {
          img {
            width: 435px;
            height: 300px;
            padding-right: 20px;
          }
        }

        &__photo {
          img {
            width: 435px;
            height: 300px;
          }
        }
      }
    }
  }
}
@media (max-width: 1024px) {
  #about {
    .about {

      &--block {

        &__nav {
          h2 {
            font-weight: 400;
            font-size: 30px;
            line-height: 50px
          }

          &--text {

            h4 {

            }
          }
        }

        &__try {
          p {
            font-weight: 100;
            line-height: 24px;
            width: 413px;
          }
        }
      }

      &--img {
        margin-right: 104px;
        &__image {
          img {
            width: 358px;
            height: 273px;
          }
        }

        &__photo {
          img {
            margin: 0;
            width: 358px;
            height: 273px;

          }
        }
      }
    }
  }
}
@media (max-width: 996px) {
  #about {
    .about {
      &--block {
        &__nav {
          h2 {

          }

          &--text {
            img{

            }
            h4 {

            }
          }
        }

        &__try {
          p {

          }
        }
      }

      &--img {
        margin-right: 97px;
        &__image {
          img {
            width: 350px;
          }
        }

        &__photo {
          img {
            width: 350px;

          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  #about {
    .about {
      padding-top: 40px;
      &--block {
        margin: 0 20px;
        &__nav {
          h2 {
            font-size: 25px;
            line-height: 39px
          }

          &--text {
            img{
              width: 58px;
            }
            h4 {
              margin-left: 25px;
              font-size: 30px;
            }
          }
        }

        &__try {
            p {
              line-height: 17px;
              width: 289px;
              font-size: 14px;
            }
        }
      }

      &--img {
        &__image {
          margin-right: 10px;
          margin-left: 40px;
          img {
            width: 265px;
            height: 210px;
          }
        }

        &__photo {
          img {
            width: 265px;
            height: 210px;

          }
        }
      }
    }
  }
}
@media (max-width: 576px) {
  #about {
    .about {
      &--block {
        flex-direction: column;
        &__nav {
          h2 {

          }

          &--text {
            margin: 3px 0;
            h4 {

            }
          }
        }

        &__try {
          p {
            padding-top: 12px;
            font-weight: 50;
            font-size: 12px;
            line-height: 17px;
            width: 242px;
          }
        }
      }
      &--img {
        flex-direction: column;
        margin: 50px 80px;
        &__image {
          img {
            width: 248px;
            height: 190px;
          }
        }
        &__photo {
          img {
            width: 248px;
            height: 190px;
            margin-top: 10px;
          }
        }
      }
    }
  }
}
@media (max-width: 450px) {
  #about {
    .about {

      &--block {

        &__nav {
          h2 {

          }

          &--text {

            h4 {

            }
          }
        }

        &__try {
          p {

          }
        }
      }

      &--img {

        &__image {
          img {

          }
        }

        &__photo {
          img {


          }
        }
      }
    }
  }
}
@media (max-width: 375px) {
  #about {
    .about {

      &--block {

        &__nav {
          h2 {

          }

          &--text {

            h4 {

            }
          }
        }

        &__try {
          p {

          }
        }
      }

      &--img {

        &__image {
          img {

          }
        }

        &__photo {
          img {


          }
        }
      }
    }
  }
}
@media (max-width: 320px) {
  #about {
    .about {
      width: 100%;
      &--block {

        &__nav {
          h2 {

          }

          &--text {

            h4 {

            }
          }
        }

        &__try {
          p {

          }
        }
      }

      &--img {

        &__image {
          img {

          }
        }

        &__photo {
          img {

          }
        }
      }
    }
  }
}

