#about{
  .about{
    padding-top: 100px;
    &--block{
      display: flex;
      align-items: center;
      justify-content: space-around;
      &__nav{
        h2{
          font-family: 'Silk Serif',cursive;
          font-style: normal;
          font-weight: 600;
          font-size: 40px;
          line-height: 61px;
          color: #FFFFFF;
        }
        &--text{
          margin: 15px 0;
          display: flex;
          align-items: center;
          h4{
            margin-left: 40px;
            font-family: 'Shalimar',sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 40px;
            color: #FFFFFF;
          }
        }
      }
      &__try{
        p{
          padding-top: 40px;
          font-family: 'Spartan',sans-serif;
          font-weight: 300;
          font-size: 16px;
          line-height: 24px;
          width: 539px;
          color: #FFFFFF;
        }
      }
    }
    &--img{
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      //margin-top: 50px;
      margin: 50px 25px;
      &__photo{
        img{
            margin-right: 30px;
        }
      }
    }
  }
}


@media (max-width: 1440px) {

}
@media (max-width: 1200px) {
#about{
  .about{
    &--img{
      margin: 50px 33px;
      &__image{
        img{
          width: 419px;
          height: 300px;
        }
      }
      &__photo{
        img{
          margin-right: 63px;
          padding: 0 51px;
          width: 444px;
          height: 300px;
        }
      }
    }
  }
}
}
@media (max-width: 1024px) {

}
@media (max-width: 992px) {

}
@media (max-width: 768px) {

}
@media (max-width: 576px) {

}
@media (max-width: 450px) {

}
@media (max-width: 376px) {

}
@media (max-width: 320px) {

}
