#about{
  .about{
    padding: 120px 0;
    &--block{
      display: flex;
      align-items: center;
      justify-content: space-around;
      &__nav{
        h2{
          font-family: 'Silk Serif',sans-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 40px;
          line-height: 61px;
          color: #FFFFFF;
        }
        &--text{
          margin: 15px 0;
          display: flex;
          align-items: center;
          h4{
            margin: 0 20px;
            font-family: 'Shalimar',sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 40px;
            color: #FFFFFF;
          }
        }
      }
      &__try{
        p{
          font-family: 'Spartan',sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          width: 539px;
          color: #FFFFFF;
        }
      }
    }
    &--img{
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-top: 50px;
    }
  }
}