#footer {
  padding: 10px 0;
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;

    &--logo {
      font-family: 'Silk Serif', cursive;
      font-weight: 600;
      font-size: 28px;
      color: #FFFFFF;
    }

    &--navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 38%;

      a {
        font-family: 'Spartan', sans-serif;
        font-weight: 500;
        font-size: 16px;
        text-transform: capitalize;
        color: #FFFFFF;
      }
    }

    &--allIcons {
      &__icon {
        color: white;
        padding-left: 10px;
        font-size: 24px;
      }
    }

    &--end{
      font-family: 'Montserrat',sans-serif;
      font-weight: 500;
      font-size: 14px;
      text-transform: capitalize;
      color: #FFFFFF;
      text-align: center;
      padding: 20px 0;
    }
  }
}
@media (max-width: 992px) {
  #footer {
    padding: 10px 0;
  }
}

@media (max-width: 768px) {

}
@media (max-width:576px) {
  #footer .footer--navbar {
    display: none;
  }
  #footer .footer--logo {
    font-size: 24px;

  }
  #footer .footer {
    padding: 10px 0;
  }
  #footer .footer--end {
    text-align: start;
  }
}

@media (max-width: 350px) {
  #footer .footer--logo {
    font-size: 19px;
  }
  #footer .footer--end {
    font-size: 10px;
  }

}
