@import "pages/home/home";
@import "components/Header/Header";
@import "components/Footer/Footer";


*{
  margin: 0;
  padding: 0;
}

.container{
  width: 90%;
  margin: 0 auto;
}

body{
  background: #525252;
}

a{
  text-decoration: none;
}