@import "pages/home/home";
@import "components/Header/Header";
@import "components/Footer/Footer";

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Philosopher:ital,wght@0,400;0,700;1,700&family=Shalimar&display=swap');


*{
  margin: 0;
  padding: 0;
}

.container{
  width: 90%;
  margin: 0 auto;
}

body{
  background: #1B2026;
}

a{
  text-decoration: none;
}

::placeholder{
  color: #c0c0c0;
}
:-ms-input-placeholder{
  color: #c0c0c0;
}
::-ms-input-placeholder{
  color: #c0c0c0;
}